{% extends 'base.html' %}
{% block title %}Impressum · Anifou{% endblock %}

{% block content %}
<article class="legal">
  <h1>Impressum</h1>

  <p><strong>Verantwortlich nach § 5 TMG</strong><br>
  Vorname Nachname<br>
  Straße Nr<br>
  PLZ Ort, Deutschland</p>

  <p><strong>Kontakt</strong><br>
  E-Mail: kontakt@anifou.com</p>

  <p><strong>Verantwortlich i.S.d. § 18 Abs. 2 MStV</strong><br>
  Vorname Nachname, Anschrift wie oben</p>

  <p>USt-IdNr.: (falls vorhanden)</p>
</article>
{% endblock %}
>