{% extends "base.html" %}
{% block title %}Anifou{% endblock %}

{% block meta_description %}
  <meta name="description" content="Anifou combines cultural insight with data science, exploring how machine learning and perception interact. Bridging language, systems and vision." />
{% endblock %}

{% block content %}
<section class="hero clean-hero about-hero">
  <p>
    {{ _('With a background in the cultural sector - where I founded and led ventures - and shaped by studies in data science, with a focus on machine learning, deep learning, computer vision, and natural language processing, I bridge perspectival thinking with algorithmic systems.') }}
    <br><br>
    {{ _('In my projects, I explore how data shapes, shifts, and reveals the structural dynamics of perception, language, and environment.') }}
  </p>
</section>
{% endblock %}
