{% extends "base.html" %}
{% block title %}{{ _('Anifou – Über mich') }}{% endblock %}

{% block content %}
<section class="hero clean-hero">
  <h1></h1>
  <p>
    {{ _('Mein Hintergrund liegt im Kulturbereich, wo ich Unternehmen mitgegründet und geführt habe.') }}<br><br>
    {{ _('Durch mein Studium der Datenwissenschaft mit Schwerpunkten in Machine Learning, Deep Learning, Computer Vision und Natural Language Processing verbinde ich unternehmerische Perspektiven mit datengetriebenen Prozessen.') }}<br><br>
    {{ _('In meinen Projekten setze ich mich mit Wahrnehmung, Umwelt und Sprache auseinander.') }}
  </p>
</section>
{% endblock %}
