{% extends "base.html" %}
{% block title %}Operational Solutions – Anifou{% endblock %}

{% block meta_description %}
<meta
name="description"
content="Operational solutions for businesses. Websites, automation, internal tools, analytics, reporting and forecasting."
/>
{% endblock %}

{% block page_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pages/services.css') }}?v=7"
/>
{% endblock %}

{% block content %}

<section class="services-hero">

  <p>
    Operational Solutions
  </p>

  <p>
    Simplify Processes.<br>
    More Time.
  </p>

  <p>
    Websites · Automation · Internal Tools ·
    Analytics & Reporting · Forecasting
  </p>

</section>

{% endblock %}