{% extends "base.html" %}
{% block title %}How The Internet Feels{% endblock %}

{% block meta_description %}
  <meta name="description" content="A data-driven exploration of how emotion thrives through the internet — mapping the affective and structural patterns that shape online narratives." />
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/htif.css') }}?v=2">
{% endblock %}

{% block content %}
<main>
  <section class="htif-hero">
    <p>
      coming soon
    </p>
  </section>
</main>
{% endblock %}
